* {
    text-align: center;
}

body > img {
    width: 10%;
}

body {
    background-color: #aafac5;
}

h1 {
    text-decoration: underline;
}

p {
    font-size: 20px;
    font-family: "Arial", sans-serif;
}

p#description {
    margin: 30px 400px;
}